$Secondary-Blue: #0e282f ; //codeblocks and buttons
$Accent-Dark-Green: #4A9B78; //block quote background
$Accent-Green: #80bd84; // links
$Soft-Cream: #F0E4C2;  // for headings 
$Soft-Cream2: #e1dbd3; // for text
$Muted-Red-3: #AB4E4E;
$Warm-GreyRed: #7A6666; // for subtext/blockquotes (adds con   #586E75; //073642
$Light-Gray: #A0A9AB; 
$Solarized-Base: #073642;
$Maroon-Base:  #7B3030;

.search-highlight {
  background-color: yellow;
  padding: 5px;
  border-radius: 5px;
}

kbd .search-highlight {
  color: black;
}

.search-highlight.search-highlight-current {
  background-color: orange;
  font-weight: bold;
}

.search-highlight-search {
    visibility: hidden;
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    background-color: $Maroon-Base;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    padding:10px 12px
}

.search-highlight-search .term {
    width: 200px;
    text-overflow: ellipsis;
    overflow-y: hidden;
    white-space: nowrap;
    font-size: 14px;
    padding:3px 0 0
}

.search-highlight-search .meta {
    display: flex;
    flex:0 0 auto
}

.search-highlight-search .count {
    padding: 4px 10px 0;
    color: #828282;
    font-size:12px
}

.search-highlight-search .controls {
    border-left: 1px solid #828282;
    padding-left:10px
}

.search-highlight-search .controls button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #424242;
    font-weight: 700;
    font-size: 18px;
    margin:0 2px
}

.search-highlight-search .controls button:hover {
    background-color:#e8e8e8
}

@media screen and (max-width: 800px) {
    .search-highlight-search {
        top:72px
    }
}

@media screen and (max-width: 500px) {
    .search-highlight-search {
        right: 10px;
        left:10px
    }
}
